<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClc5sjcQVB62Ni_LwWnr9cibRPnv5naCM</string>
	<key>GCM_SENDER_ID</key>
	<string>786732772565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterpractices</string>
	<key>PROJECT_ID</key>
	<string>queriesactivity</string>
	<key>STORAGE_BUCKET</key>
	<string>queriesactivity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786732772565:ios:019dbf7e4b41ad4ab8c65c</string>
</dict>
</plist>